@model List<OnlineStoreDomain.Model.OrderItem>

@{
    ViewData["Title"] = "Кошик";
    decimal totalCost = Model.Sum(item => item.Quantity * item.Product.Price);
}

<div class="container mt-4 p-4 bg-light shadow rounded">
    <h1 class="mb-4 text-black">Кошик</h1>

    @if (Model.Count == 0)
    {
        <p>Ваш кошик порожній.</p>
    }
    else
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Кількість</th>
                    <th>Вартість</th>
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Product.Name</td>
                        <td>@item.Quantity</td>
                        <td>@((item.Quantity * item.Product.Price).ToString("C", new System.Globalization.CultureInfo("uk-UA")))</td>
                        <td>
                            <form asp-action="RemoveFromCart" method="post" class="d-inline">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-sm btn-danger">Видалити</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <div class="d-flex align-items-center mt-3">
        @if (Model.Count > 0)
        {
            <span class="me-3">Загальна вартість: @totalCost.ToString("C", new System.Globalization.CultureInfo("uk-UA"))</span>
            <a asp-action="Create" asp-controller="Orders" class="btn btn-primary me-2">Оформити замовлення</a>
        }
        <a asp-action="Index" asp-controller="Products" class="btn btn-secondary">Список товарів</a>
    </div>
</div>