@model OnlineStoreInfrastructure.ViewModel.ChangeRoleViewModel

@{
    ViewData["Title"] = "Редагування ролей";
}

<h2 class="mt-4">Редагування ролей для @Model.UserEmail</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (var role in Model.AllRoles)
        {
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="roles" value="@role"
                @(Model.UserRoles.Contains(role) ? "checked=\"checked\"" : "") />
                <label class="form-check-label">@role</label>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Зберегти</button>
    <a asp-action="UserList" class="btn btn-secondary">Назад</a>
</form>